.header {
  background-color: #1b1f24;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #aed8cf;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menuOptionLink {
  padding: 1rem 3rem;
  font-size: 18px;
  color: #00c39a;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuOptionLinkIcon {
  display: none;
}

.signInButton {
  padding: 10px 51px;
  border-radius: 22px;
  border: none;
  background: #00c39a;
  color: #14161a;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1022px) {
  .menuOptionLinkText {
    display: none;
  }

  .menuOptionLinkIcon {
    display: flex;
  }
}

@media (max-width: 820px) {
  .header {
    padding: 0 12px;
  }
  .bannerSectionRightImage {
    display: none;
  }

  .menuOptionLink {
    padding: 1rem;
  }
}

@media (max-width: 522px) {
  .logo {
    font-size: 20px;
  }
}

@media (max-width: 470px) {
  .logo {
    display: none;
  }
}
